.black-box { 
    background-color: #aba7de;
    width: 100%;
    height: 15vh;
    margin: 8% 0 0 0;
    left: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
}
.blackbox-child,.blackbox-child2  {
    background-color: #000000;
    width: 30%;
    height: 80%;
    margin: 0;
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}
.blackbox-child2 
{
    padding-right: 0 ;
    font-size: 1.5rem;
    color: #ffffff;
    width: 70%;
    background-color: black;
}

.flag0,.france0,.italy0,.germany0,.australia0,.china0,.uk0,.egypt0,.russia0,.japan0{
        margin: 1.5%;
        border-radius: 50%;
        height: 3vw; 
        width: 3vw;
        background-size: cover;
        background-position: center; 
        min-width: 3vw;
        min-height: 3vh;
    

    }
    .france0 {background-image: url(flags/satin-france-flag-gkho3ksm6aiq9rbu.jpg);}
    .italy0 {background-image: url(flags/italy.jpg);}
    .germany0 {background-image: url(flags/germany.jpg);}
    .australia0 {background-image: url(flags/Australia.jpg);}
    .china0 {background-image: url(flags/china.jpg);}
    .uk0 {background-image: url(flags/UK.jpg);}
    .egypt0 {background-image: url(flags/egypt.jpg);}
    .russia0 {background-image: url(flags/russia.jpg);}
    .japan0 {background-image: url(flags/japan.jpg);}
