::-webkit-scrollbar {
    width: 15px; }
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background-color: #aa3535b1; 
    border-radius: 10px; 
    border: 2px solid #ffffff; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aa3535b1; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
	background-color: #f8fafc;
}

.container {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slider-wrapper {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
}

.slider {
    flex-direction: row;
	display: flex;
    width: 100%;
    height: 50vh;
    overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	-ms-overflow-style: none;
	scrollbar-width: none; 
    
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 2rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

 h1 {
 	color: #aa3535b1;
 	text-align: center;
 	margin: 30px;
	font-size: 80px;
	
    
}

.place {
	display: flex;
	position: relative;
	margin: 50px 60px; 
	height: 65vh;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
	border-radius: 5%;
	background-color: #ffffff;
}
.text , .text2 {
	display: flex;
	padding: 5%;
	width: 47%;
	height: 100%;
	margin-right: 3%;
	font-size: 25px;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: white;
	font-size: 190%;
	font-weight: 600;
	line-height: 150%;
}

.text{
	left:0;
}

.text2 {
	position: absolute;
	right: 0;
	margin-left: 3%;
	margin-right: 0;
}

.pic1 ,.pic2 ,.pic3,.pic {
	display: flex;
	padding: 10%;
	align-items: center;     
	justify-content: center;
	width: 50%;
	height: 100%;
	border-radius: 5%;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;

}
.text-header {
    font-weight: 400;
    font-size:  50px ;
    position: absolute;
    top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #aa3535b1;
    height: 10%;
    width: 80%;
    color: #ffffff;
}
.footer {
	position: absolute;
	background-color: #aa3535b1;
	bottom: 0;
	width: 80%;
	height: 2%;
	border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}
.pic {left: 0; background-image: url(lake\ como.jpg); background-size: cover;}
.pic1{right:0;background-image: url(florence.jpg);}
.pic2{left: 0;background-image: url(Italy1.jpg);}
.pic3{right:0;background-image: url(Amalfi.jpg);}

.location , .location2 , .location3 {
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	z-index: 3;
	transition: 1s;
	background-image: url(locicon.png);
	background-size: cover ;
	filter: brightness(0.6);
	box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
}


.location:hover , .location2:hover , .location3:hover{
	opacity: 1;
	height: 20vh;
	width: 40vh;
	border-radius: 7%;
	transition: 1s;
	filter: brightness(1);
	box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);

}
.circle,.circle1,.circle2,.circle3 {background-image: url(location.jpg);}


.index {
	box-shadow: 0;
	background-color: rgb(255, 255, 255);
	border-radius: 5%;
	width: 170vh;
	height: 90vh;
	background-image: url(../index/italy.png);
	position: relative;
	display: flex;        
	justify-content: center;
	align-items: center;
	margin: 1% 5%;
	background-repeat: no-repeat;
	background-size: cover;

}



