@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
::-webkit-scrollbar {
    width: 15px; /* Width of the scrollbar */}
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Track background color */
}

/* Customize the draggable thumb of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #008CBA; /* Thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #ffffff; /* Border around the thumb */
}

/* Change thumb color on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #005f7f; /* Color when hovering over the scrollbar */
}
::selection {
    background-color: #0c3e50;
}
* {
    
    margin: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 112, 112);
    text-transform: uppercase;
    font-weight: 800;
    transition: all 0.5s ease;
}

a:hover {
    transform: translateY(-10px); 
    color: rgb(255, 0, 0);
}


.team {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;        
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
-webkit-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
-moz-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
background-color: white;

}
.team-brief,.logos {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: black;
    font-size: 200%;
    padding: 0 15%;
    background-color: white;

}
.title,.title1 {
    font-family: Merriweather;
    z-index: 2;
    top: 10%;
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: white;
    font-size: 3em; 
    font-weight: bold; 
    text-transform: uppercase; 
    color: rgb(0, 112, 112); 
    text-align: center;
}
.title1{
    font-size: 1.5vh;
    background-color: transparent;
    top: 4vh;
}
h1 sup {
    font-size: 0.4em;
    vertical-align: bottom;
    color: gray;
}
.logos {
    position: absolute;
    margin-right:8%;
    width: 65%;
    height:25%;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    padding-right: 20%;
}
.logo1,.logo2,.logo3 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 4%;
    
}
.logo1 {background-image: url(nile\ logo\ itcs.png); width: 30%; height: 70%; margin-left: 60%; }
.logo2 {background-image: url(logo-removebg-preview.png); width: 15vh;  height: 15vh; }
.logo3 {background-image: url(ministry_of_higher_education_logo-removebg-preview.png); width: 12%; height: 90%; margin-right: 40%;}
.pipeline,.pipeline1,.pipeline2,.pipeline3 {
    width: 10px;
    height: 150px;
    position: absolute;
    z-index: 2;
}
.pipeline {left: 10px;top: 15%; background-color: #009688;}
.pipeline1 {background-color: #009688;right: 10px;bottom: 15%;}
.pipeline2 {left: 10px;bottom: 15%;background-color: red;}
.pipeline3 {background-color: red;right: 10px;top: 15%;}
.team-member{
    border-radius: 5%;
    width: 170vh;
    height: 55vh;
    position: relative;
    display: flex;        
    justify-content: center;
    align-items: center;
    margin: 5% 5%;
     
}
.pic ,.pic1,.pic2,.pic3,.pic4 {
    border-radius: 50%;
    margin: 3%;
    justify-content: center;      
    align-items: center;          
    text-align: center;          
    height: 90%;
    width: 30%;
    display: flex;
    position: absolute;
    box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45); 
}
.pic {background-color: aqua; right: 0; background-image: url(default-avatar-profile-icon-of-social-media-user-vector.jpg); background-size: cover;}
.pic1 {background-color: aqua; left: 0; background-image: url(default-avatar-profile-icon-of-social-media-user-vector.jpg); background-size: cover;}
.pic2{background-color: aqua; right: 0; background-image: url(default-avatar-profile-icon-of-social-media-user-vector.jpg); background-size: cover;}
.pic3 {background-color: aqua; left: 0; background-image: url(default-avatar-profile-icon-of-social-media-user-vector.jpg); background-size: cover;}
.text,.text1 {
    border-radius: 5%;
    justify-content: center;      /* Horizontal centering */
    align-items: center;          /* Vertical centering */
    text-align: center;           /* Centers text horizontally */
    height: 100%;
    width: 50%;
    display: flex;
    position: absolute;
    font-size: 30px;
    line-height: 160%;
    color: black;

}

.text {
    width: 50%;
    height: 90%;
    left:0;
    margin-right: 3%;
    padding: 2%;
}
.text1 {
    width: 50%;
    height: 90%;
    right: 0;
    margin-right: 3%;
    padding: 2%;
}
.red {color: red;margin-right: 60%; font-weight: 800;}
.black_box {
    margin:5vh 0 0 0;
    background-color: black;
    width: 100%;
    height: 30%;    
    position: absolute;
    box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 28px 9px rgba(0,0,0,0.45);
    }
